:root {
  --orange: #ff7e00;
}

/*--------head------------*/
.head {
  padding: 20px 0;
  color: var(--orange);
}

.social .icon:hover {
  transform: scale(1.1);
}

.logo h1 {
  font-size: 35px;
  font-weight: 900;
}

.logo {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.9s ease forwards;
}

.logo:nth-child(2) {
  animation-delay: 0.9s; /* Delay for the second text */
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.head .icon {
  margin-left: 10px;
}

/*--------header------------*/
header {
  background-color: rgba(255, 255, 255, 0.719);
  margin: 0 30px;
}

header .nav {
  display: flex !important;
}

header li {
  margin-right: 40px;
}

header ul {
  padding: 30px 20px;
}

header ul li a {
  color: #000000;
  font-weight: 500;
  transition: transform 0.3s ease-in-out;
}

header ul li a:hover {
  color: var(--orange);
}

.start {
  background-color: var(--orange);
  padding: 30px 70px;
  color: #fff;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
}

.toggle {
  display: none;
}

/*--------header------------*/
@media screen and (max-width: 768px) {
  .start {
    clip-path: none;
    padding: 20px 40px;
  }
  header {
    margin: 0;
    background-color: var(--orange);
    position: relative;
  }
  header ul.flexSB {
    display: none;
  }
  header ul {
    padding: 20px;
  }
  header ul li {
    margin-bottom: 20px;
  }
  header ul li a {
    font-size: 18px;
  }
  .toggle {
    display: block;
    background: none;
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
  }
  .mobile-nav {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    background-color: var(--orange);
    display: none;
  }
  .mobile-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-nav ul li {
    margin-bottom: 10px;
  }
  .mobile-nav ul li a {
    font-size: 20px;
  }
}

/* Toggle mobile menu */
.toggle.active + .mobile-nav {
  display: block;
}
